/* color scheme https://coolors.co/ffc914-33658a-1ca9c9-28112b-dc602e */

/* set up variables for media scaling sizes */
:root {
	--multiplier: 1;
  --headings-multiplier: 1;
  --spacings-multiplier: 1;
  --body-font: 6vw;
  --dropdown-font: 3.5vw;
  --banner-font: 6vw;
}

/* applies to all devices larger than 320px */
@media (min-width: 320px) {
  :root {
		--multiplier: 1.1;
    --headings-multiplier: 1.2;
    --spacings-multiplier: 1.2;
    --body-font: calc(1rem + 0.2rem * var(--headings-multiplier));
    --banner-font: calc(2rem * 0.5 * var(--headings-multiplier));
    --dropdown-font: calc(1.8rem * 0.3 * var(--headings-multiplier));
	}

  .small-figure{
    width: max-content; /* allows the figure box to be the size of its content on larger screens */
  }
}

/* applies to all devices larger than 480px */
@media (min-width: 480px) {
  :root {
		--multiplier: 1.5;
    --headings-multiplier: 1.6;
    --spacings-multiplier: 1.5;
	}

  .menu > ul{
    width: 80%;
  }

  li > .dropdown a{
    height: 50px;
  }
}

/* applies to all devices larger than 768px */
@media (min-width: 768px) {
	:root {
		--multiplier: 2;
    --headings-multiplier: 2;
    --spacings-multiplier: 2;
	}

  .body-section > .body-image{
    width: 90%;
  }

  section > p {
    word-wrap: normal;
  }
}

/*apply to all elements */
* { 
  box-sizing: border-box;   /* make elements use border-box model */
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;
  overflow-y: scroll; /* make scrollbar visible on all pages for consistent viewing */
}

body {
  padding: 0px 0px 5px 0px;
  /* a cool workaround to alter the color of a background image. A gradient between almost identical transparent blues is overlaid on the image */
  /* background: linear-gradient(0deg, rgba(150, 180, 250, 0.75), rgba(19, 57, 139, 0.75)), url(../resources/pixil-frame-complex.png); */
  background-color: rgb(40, 135, 170); /* I.E. compatibility - Roughly equivalent color: X=255 - .75*(255-Y) */
  background: linear-gradient(0deg, rgba(27, 166, 197, 0.75), rgba(37, 73, 101, 0.75)), url(../resources/pixil-frame-complex.png); /* made it myself! */
  background-attachment: fixed; /* don't let background scroll with content (distracting and repeated gradient is jarring)*/
}

header {
  position: relative; 
  width: calc(100vw - 5vw * var(--multiplier)); /* as the view gets bigger, multiplier increases and width increases with diminishing returns until at 1000px */
  max-width: 1000px;
  height: calc(55px * var(--multiplier));
  margin: auto;
  font-size: 24px; /* backup definition for less compatible browsers */
}

.banner{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: calc(5px * var(--multiplier));
  text-align: left;
  display: flex;
  justify-content: space-between; /* separate inline children to opposite sides */
  align-items: flex-start;
  background-color: #EE9521;
  background-position: top;
  background-size: 100% 100%;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.25));
  border-radius: 5px 5px 0px 0px;
}

#page-title{
  margin-left: 1vw;
  font-size: calc(1 * var(--banner-font));
  font-weight: 600;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

#header-icons{
  font-size: calc(1.25 * var(--banner-font));
}

.icon-link{
  margin: auto;
  color: #28112B;
  text-decoration: none;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

#header-icons .icon-link{
  margin-right: 1vw;
  font-size: calc(1.25* var(--banner-font));
}

/* change color and remove drop shadow on icon hover */
.icon-link:hover {
  color: #FFC914;
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.25));
}

.menu {
  position: relative;
  top: calc(30px * var(--multiplier));
  z-index: 1;
}

/* apply to direct ul children of .menu */
.menu-list {
  width: 100%;
  max-width: 1000px;
  height: 300px; /* small hack to ensure dropdowns are not hidden. Only the top 50px is visible. 400px fits up to 3 dropdown items */
  margin: auto;
  padding: 0px;
  list-style-type: none;
  overflow: hidden; /* hide content that is too big for it's box */
  display: flex;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

/* apply only to nav tab li elements */
.menu > ul > li{
  width: 25%;
}

.menu > ul > li, .menulist > li{
  position: relative; /* li needs to be relative for child ul to enable overflow hiding */
}

.menu-list > li > a, .dropdown a { 
  height: calc(25px * var(--multiplier));
  padding: calc(5px * var(--spacings-multiplier));
  display: block;
  color: white;
  font-size: calc(2rem * 0.40 * var(--headings-multiplier));
  font-size: calc(1.5*var(--dropdown-font));
  text-align: center;
  text-decoration: none;
  background-color: #28112B;
  border-radius: 10px 10px 0px 0px;
}

.dropdown{
  position: absolute;
  width: 100%;
  padding: 0px;
  list-style-type: none;
  display: none;  /* dropdown menu is hidden until needed */
  z-index: 1;
}

.dropdown a{
  height: calc(30px * var(--multiplier));
  color: white;
  font-size: calc(1.8rem * 0.3 * var(--headings-multiplier));
  font-size: calc(1*var(--dropdown-font));
  border-radius: 0px 0px 0px 0px;
}

/* apply to the last list element in dropdown */
.dropdown li:last-child > a{
  border-radius: 0px 0px 10px 10px;
}

/* applies to dropdown on menu link hover as well as when hovering over the dropdown menu */
.menu ul li a:hover + .dropdown, .dropdown:hover{
  display: block; /* Display the dropdown */
}

/* Change the link color on hover */
li a:hover {
  background-color: #FFC914;
}

/* let the user know which page they are on */
.menu-list > li > .active { /* needs to be as specific as competing rule for a to override */
  background-color: #DC602E;
}

/* apply to all body links */
p > a {
  position: relative;
  z-index: 100; /* prevent links from becoming covered and disabled */
  text-decoration: none;
  color: #28112B;
}

p > a:hover{
  color: #FFC914;
}

.main-panel{
  width: calc(100vw - 5vw * var(--multiplier)); /* same as header */
  max-width: 1000px;
  margin: auto; 
}

.body-section{
  margin: 0px auto 10px; 
  padding: min(1.5vw, calc(2.5vw * var(--spacings-multiplier))) min(4vw, calc(5vw * var(--spacings-multiplier))); /* vertical padding is half of horizontal both no more than 4vw */
  font-size: 16px; /* fallback applies to all child elements of section if variables fail */
  font-size: var(--body-font);
  background-color: white;
  box-shadow: 0px 0px 0px 0px black;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
}

.body-section:first-child{ /* only applies to the first body section element */
  border-radius: 0px 0px 5px 5px;
}

.body-image{
  margin: auto;
  width: 95%; /* image width is set to 95% of view width */
  display: flex; /* flex allows image to determine position based on text alignment */
  box-shadow: 0px 0px 0px 0px black;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  border-radius: 5px;
}

.body-image-emoji{
  width: calc(.8 * var(--body-font)); 
  display: inline-block; /* displayed inline with text */
}

figure {
  margin: auto;
  box-shadow: 0px 0px 0px 0px black;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  border-radius: 5px;
}

figcaption {
  padding: 5px;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: var(--body-font);
  text-align: center;
  word-wrap: break-word;
}

.figure-image{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 5px;
}

.text-icon{
  display: block;
  margin: auto;
  text-align: center;
  font-size: calc(7 * var(--body-font));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

.flex-container{
  width: 90%;
  margin: auto;
  display: flex;
  row-gap: calc(10px * var(--spacings-multiplier));;
  column-gap: calc(10px * var(--spacings-multiplier));
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: center;
}

.cell{
  width: calc(80px * var(--multiplier));
  padding: calc(5px * var(--spacings-multiplier));
  color:#FFC914;
  font-size: calc(3*var(--body-font));
  text-align: center;
  box-shadow: 0px 0px 0px 0px black;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
}

/* If you want text inside of the container */
.cell > a span {
  font-size: calc(.75 * var(--body-font));
}

#fixit {
  display: block;
  position: fixed;
  margin: auto;
  bottom: 5px;
  right: 5px;
  background-color: #EE9521;
}

#fixit > span {
  font-size: calc(3 * var(--body-font));
}

h1 {
  font-size: calc(3 * var(--body-font));
  word-wrap: break-word;
}

h2 {
  font-size: calc(2 * var(--body-font));
  word-wrap: break-word;
}

h3 {
  font-size: calc(1.6 * var(--body-font));
  word-wrap: break-word;
}

h4 {
  font-size: calc(1.3 * var(--body-font));
  word-wrap: break-word;
}

h5 {
  font-size: calc(1.1 * var(--body-font));
  word-wrap: break-word;
}

p {
  font-size:  calc(1 *var(--body-font));
  word-wrap: break-word;
}

.body-section > ul, .body-section > ol {
  padding-inline-start: calc(15px * var(--multiplier));
  font-size:  calc(0.9 * var(--body-font));
  word-wrap: break-word;
}

code {
  padding: 1px;
  position: relative;
  bottom: 2px; /* adjusts the code to appear slightly higher */
  font-size: calc(0.75*var(--body-font));
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 0px 0px black;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
}
